.weatherCard__weatherCardBox {
    background-color: #DDE4E6;
    border-radius: 4px;
    padding: 2rem 4rem;
    width: clamp(400px, 40vw, 650px);
    height: clamp(500px, 85vh, 700px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s linear;
}

.weatherCard {
    background-color: #27737D;
    border-radius: 30px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1.6fr 0.7fr 0.7fr;
    color: #fff;
    padding: 2rem;
    padding-bottom: 0;
    width: clamp(300px, 30vw, 400px);
    height: clamp(370px, 75vh, 500px);
    align-items: center;
}

.weatherCard__header {
    line-height: 1;
}

.weatherCard__city {
    font-size: 1.3rem;
}

.weatherCard__country {
    font-size: 1.2rem;
    color: #A8C6CB;
    font-weight: lighter;
}

.weatherCard__date {
    font-size: 1.1rem;
    color: #A8C6CB;
    font-weight: lighter;
    line-height: 2;
}

.weatherCard__temperature {
    padding: 0.5rem;
    line-height: 1;
}

.weatherCard__tempValue {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: -0.8rem;
}

.weatherCard__tempCondition {
    font-size: 1.5rem;
    color: #E8F1F2;
    font-weight: lighter;
}

.weatherCard__climate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.weatherCard__climateItem>p:first-child {
    font-weight: lighter;
}

.weatherCard__forecast {
    display: flex;
    justify-content: space-evenly;
}

.weatherCard__ForecastItem>p:first-child {
    font-weight: lighter;
    line-height: 1;
}

.weatherCard__latLong {
    position: absolute;
    justify-content: space-between;
    gap: 0.5rem;
    color: #707070;
    font-size: 0.8rem;
    font-weight: 300;
    bottom: 20px;
    display: none;
}

.weatherCard__backButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    color: #27737D;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .weatherCard__weatherCardBox {
        width: 100vw;
        height: 100vh;
        padding: 0;
        justify-content: center;
    }

    .weatherCard__backButton {
        display: block;
    }

    .weatherCard__latLong {
        display: flex;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}